GRADIENT DESCENT

In [ ]:
import pandas as pd
# Initialization of m and c
m = 0
c = 0

# X - height  Y - weight

X = [5.1, 6.2, 5.8, 5.5, 5.0, 5.3, 6.0]
Y = [54, 75, 67, 65, 54, 59, 69]

# To create a list of X, Y pair
print(list(zip(X,Y)))

[(5.1, 54), (6.2, 75), (5.8, 67), (5.5, 65), (5.0, 54), (5.3, 59), (6.0, 69)]

In [ ]:
data = pd.DataFrame(list(zip(X, Y)), columns =['X', 'Y']) 


print(data.head())

     X   Y
0  5.1  54
1  6.2  75
2  5.8  67
3  5.5  65
4  5.0  54

In [ ]:
X = data.iloc[:, 0]
Y = data.iloc[:, 1]

# The learning Rate
L = 0.0001

# The number of iterations to perform gradient descent
epochs = 1000

# Number of elements in X
n = float(len(X))

In [ ]:
# Performing Gradient Descent 
import numpy as np
for i in range(epochs):
    Y_pred = m * X + c  # The current predicted value of Y
    D_m = (-2 / n) * sum(X * (Y - Y_pred))  # Derivative wrt m
    D_c = (-2 / n) * sum(Y - Y_pred)  # Derivative wrt c    
    m = m - L * D_m  # Update m
    c = c - L * D_c  # Update c
    loss = np.divide(np.sum((Y-Y_pred)**2, axis=0), X.shape[0])
print(m, c , loss)



def predict(x):
    return m * x + c
def loss(u):
  return np.divide(np.sum((Y-(m*u+c))**2, axis=0),X.shape[0]) 
pred=predict(6.0)
print(pred)

11.054217552953162 1.9396429551719239 8.327368657202605
68.26494827289089

Stochastic Gradient descent

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("fivethirtyeight")
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv('Salary.csv')

In [ ]:
data

    YearsExperience  Salary  age  company_change          type
0               1.1   39343   21               1        junior
1               1.3   46205   31               0        middle
2               1.5   37731   29               1        middle
3               2.0   43525   30               1        middle
4               2.2   39891   27               1        middle
5               2.9   56642   36               0        middle
6               3.0   60150   30               0        middle
7               3.2   54445   34               1        middle
8               3.2   64445   29               0        middle
9               3.7   57189   36               1        middle
10              3.9   63218   33               0        middle
11              4.0   55794   37               1        middle
12              4.0   56957   29               1        middle
13              4.1   57081   27               1        middle
14              4.5   61111   25               1        junior
15              4.9   67938   29               0        middle
16              5.1   66029   38               0        middle
17              5.3   83088   39               0        middle
18              5.9   81363   37               0        middle
19              6.0   93940   40               0        senior
20              6.8   91738   37               1        middle
21              7.1   98273   34               1        middle
22              7.9  101302   29               0        middle
23              8.2  113812   42               0        senior
24              8.7  109431   43               0        senior
25              9.0  105582   39               0        middle
26              9.5  116969   45               0        senior
27              9.6  112635   37               0        middle
28             10.3  122391   29               0        middle
29             10.5  121872   56               0  super senior

In [ ]:
x=np.array(data['YearsExperience'])
y=np.array(data['Salary'])
l=len(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=6)
lx=len(x_train)

In [ ]:
m=0.1
c=0.5
alpha=0.01
n=5000
for i in range(n):
    slope=0
    intercept=0
    for j in range(lx):
        random_index=np.random.randint(lx)
        intercept=intercept+((m*x_train[random_index:random_index+1]+c)-y_train[random_index:random_index+1])
        slope=slope+((m*x_train[random_index:random_index+1]+c)-y_train[random_index:random_index+1])*x_train[random_index:random_index+1]
        c=c-alpha*(intercept/lx)
        m=m-alpha*(slope/lx)

In [ ]:
print(f"slope is {m}")
print(f"intercept is {c}")

slope is [9326.60658728]
intercept is [23698.63141981]

In [ ]:
y_pred=np.dot(m[0],x_test)+c[0]
y_pred

array([ 33957.89866582, 119762.67926884, 113234.05465774,  51678.45118166,
        73129.64633242,  79658.27094352,  53543.77249912,  50745.79052293])

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import explained_variance_score

In [ ]:
print(mean_squared_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(mean_absolute_error(y_test,y_pred))
print(explained_variance_score(y_test,y_pred))
print(r2_score(y_test,y_pred))

55843435.240863696
7472.846528657182
6015.193155428713
0.9726609951819802
0.9287923652824237

**Mini-batch GD**

In [ ]:
class mini_batch_gradient_descent:
    
    def create_batch(self,x_train,y_train,batch_size):
        mini_batches=[]
        data=np.stack((x_train,y_train),axis=1)
        np.random.shuffle(data)
        no_of_batches=x_train.shape[0]//batch_size
        for i in range(no_of_batches):
            mini_batch=data[i*batch_size:(i+1)*batch_size]
            mini_batches.append((mini_batch[:,0],mini_batch[:,1]))
        if x_train.shape[0]%batch_size!=0:
            mini_batch=data[(i+1)*batch_size:]
            mini_batches.append((mini_batch[:,0],mini_batch[:,1]))
        return mini_batches

    def fit(self,x_train,y_train,alpha,epochs,batch_size):
        self.m=np.random.randn(1,1)
        self.c=np.random.randn(1,1)
        l=len(x_train)
        for i in range(epochs):
            batches=self.create_batch(x_train,y_train,batch_size)
            for batch in batches:
                xb=batch[0]
                yb=batch[1]
                xb=xb.reshape(1,xb.shape[0])
                intecept=np.sum((np.dot(self.m,xb)+self.c)-yb)
                slope=np.sum(((np.dot(self.m,xb)+self.c)-yb)*xb)
                self.m=self.m-alpha*(slope/l)
                self.c=self.c-alpha*(intecept/l)

    def slope_intercept(self):
        print(f"slope is {self.m[0][0]}")
        print(f"intecept is {self.c[0][0]}")
      
    def predict(self,x_test):
        x_test=x_test.reshape(x_test.shape[0],1)
        self.m=self.m.reshape(self.m.shape[1],self.m.shape[0])
        result=np.dot(x_test,self.m)+self.c
        return result

In [ ]:
mgd=mini_batch_gradient_descent()

In [ ]:
mgd.fit(x_train,y_train,0.01,4000,4)

In [ ]:
mgd.slope_intercept()

slope is 9740.87686044146
intecept is 23064.905243988364

In [ ]:
y_pred=mgd.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import explained_variance_score

In [ ]:
print(mean_squared_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(mean_absolute_error(y_test,y_pred))
print(explained_variance_score(y_test,y_pred))
print(r2_score(y_test,y_pred))

45344616.12912383
6733.8411125541
5592.122005917527
0.9663672792049028
0.9421797235824666